<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tutorial Gain Slider - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial Gain Slider - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tutorial Gain Slider - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tutorial Gain Slider - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tutorial Gain Slider - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12A43A16C6AF7D2A0E38D29A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>344B3F0B7E7AAC5154818D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A69EF7F32B05B816531107A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8747F54039919B8BFEFBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3534391092E748C116E3563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
